<%= form_for @user, :html => {:multipart => true} do |form| %>

	<div class="text-field">
	  <%= form.label :email %>
	  <%= form.text_field :email, type: 'email' %>
	</div>

	<div class="password-field">
	  <%= form.label :password %>
	  <%= form.password_field :password %>
	</div>

	<div>
		<%= form.label :profile_photo %>
		<%= form.file_field :profile_photo, multiple: false %>
	</div>
	<%= form.submit %>

<%end%>
